{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Prettl{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello</h1>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}

{% block scripts %}
{{ super() }}
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet">
    <!--
    A chamada do jquery ja e feita no super()
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    -->
	<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

    <link href="{{ url_for('static', filename='css/keyboard.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='js/jquery.keyboard.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        $(function(){
            $('#user').keyboard();
            $('#pwd').keyboard();
        });
    </script>
{% endblock %}

